<div class="top-content">
  <div class="text-content">
    <h1>
      Descubre el mejor lugar para comer donde quiera que estes.
    </h1>

    <button nz-button
      nzType="primary"
      [routerLink]="['/reservations']">
      Mis Reservaciones
    </button>
  </div>
  <div class="img"></div>
</div>

<app-buscador></app-buscador>

<h2>Imagénes destacadas</h2>
<div class="grid">
  <img src="assets/img/restaurant-1.jpg"
    alt="restaurant-1">
  <img src="assets/img/restaurant-2.jpg"
    alt="restaurant-2">
  <img src="assets/img/restaurant-3.jpg"
    alt="restaurant-3">
  <img src="assets/img/restaurant-4.jpg"
    alt="restaurant-4">
  <img src="assets/img/restaurant-5.jpg"
    alt="restaurant-5">
  <img src="assets/img/restaurant-6.jpg"
    alt="restaurant-6">
</div>
