nav {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 7px 18px rgba(0, 0, 0, .08);
  z-index: 1;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    span {
      color: #DC1637;
      font-weight: 700;
      display: inline-block;
      padding: 0 1.5rem;
    }

    button {
      margin: 0 1rem;
      padding: auto 10px;
      width: 50px;
    }

  }

  ul {
    padding: 0 1.5rem;
    height: 100%;
    display: none;

    li {
      outline: none;
    }
  }

}

@media(min-width:768px) {
  nav {
    display: flex;
    justify-content: space-between;

    .logo {
      button {
        display: none;
      }
    }

    ul {
      display: block;
    }
  }
}
