<nz-layout>
  <nz-drawer *ngIf="isHandset$ | async"
    nzTheme="light"
    [nzBodyStyle]="{
      height: '100%',
      overflow: 'auto',
      padding: '0',
      background: '#fff'
    }"
    [nzClosable]="false"
    [nzVisible]="isOpen"
    nzPlacement="left"
    (nzOnClose)="isOpen = false">

    <app-menu></app-menu>
  </nz-drawer>

  <nz-header class="px-0">
    <app-navbar></app-navbar>
  </nz-header>

  <nz-content class="px-0">
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>

  <nz-footer>
    Restaurant Reservation System - LmTable &copy;2020 by Luis Mendez
  </nz-footer>
</nz-layout>
