<ul nz-menu
  nzTheme="light"
  nzMode="vertical">

  <li nz-menu-item
    nzMatchRouter
    [routerLink]="['/home']">
    Inicio
  </li>

  <li nz-menu-item
    nzMatchRouter
    [routerLink]="['/reservations']">
    Reservaciones
  </li>

  <li nz-menu-item
    *ngIf="auth.user$ | async as user; else login"
    (click)="auth.signOut()">
    Cerrar Sesión
  </li>

  <ng-template #login>
    <li nz-menu-item
      nzMatchRouter
      [routerLink]="['/auth', 'login']">
      Iniciar Sesión
    </li>
  </ng-template>

</ul>
